{% extends 'base.html.twig' %}

{% block body %}
    <h1>Veranstalter bearbeiten</h1>

    {{ include('organization/_form.html.twig') }}

    <a href="{{ path('organization_index') }}">zurück zur Liste der Veranstalter</a>
{% endblock %}
