{% extends 'base.html.twig' %}

{% block body %}
    <h1>Neuen Veranstalter anlegen</h1>

    {{ include('organization/_form.html.twig') }}

    <a href="{{ path('organization_index') }}">zurück zur Veranstalterliste</a>
{% endblock %}
