{% extends 'base.html.twig' %}

{% block body %}
    <h1>Impressum</h1>

    <h2>Angaben gemäß § 5 TMG</h2>

    10 o'clock GmbH<br/>
    Untere Hofstatt 3<br/>
    97286 Winterhausen<br/>

    <h2>Vertretungsberechtige Personen</h2>

    <ul class="plain">
        <li>Ute Mündlein</li>
    </ul>

    <h2>Kontakt</h2>

    <ul class="plain">
        <li>Tel.: +49 (0) 1 76 10 30 55 38</li>
        <li>eMail: info@10-o-clock.de</li>
    </ul>

    <h2>Registereintrag</h2>

    HRB 16389, Amtsgericht Würzburg

    <h2>Verantwortlich für den Inhalt</h2>

    Nach § 55 Abs. 2 RStV: Ute Mündlein

{% endblock %}
