{% extends 'base.html.twig' %}

{% block body %}
    <h1>Impressum</h1>

    <h2>Angaben gemäß § 5 TMG</h2>

    Würzburg AG<br/>
    Rückermainstraße 2<br/>
    97070 Würzburg<br/>

    <h2>Vorstände</h2>

    <ul class="plain">
        <li>Claus Schreiner</li>
        <li>Klaus Walther</li>
    </ul>

    <h2>Kontakt</h2>

    <ul class="plain">
        <li>Tel.: 09367/ 98 14 11 (Claus Schreiner)</li>
        <li>Tel.: 0931/37 23 19 (Klaus Walther)</li>
        <li>eMail: mail@wuerzburg-ag.de</li>
    </ul>

    <h2>Bankverbindung</h2>

    Sparkasse Mainfranken<br/>
    IBAN:DE55 7905 0000 0043 5250 88<br/>
    BIC:BYLADEM1SWU<br/>

    <h2>Registereintrag</h2>

    Registergericht Würzburg<br/>
    HRB 77 86<br/>

    <h2>Steuernummer</h2>

    257 / 120 / 90092

    <h2>Verantwortlich für den Inhalt</h2>

    Nach § 55 Abs. 2 RStV: Ute Mündlein

{% endblock %}
