{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nutzungsbedingungen</h1>

    <h2>§ 1 Vertragsgegenstand, Geltungsbereich</h2>

    <ol>
        <li>Die 10 o'clock GmbH i. G., Untere Hofstatt 3, 97286 Winterhausen,
            betreibt hier ein kostenloses Portal, in welchem Unterstützer der Wuerzburg Web Week
            Veranstaltungen einstellen und verwalten können. Die 10 o'clock communications GmbH i. G. stellt lediglich
            diese kostenlose Plattform zur Verfügung und tritt nicht als Veranstalter von Events auf.
        </li>
        <li>Diese Allgemeinen Nutzungsbedingungen regeln das Vertragsverhältnis abschließend und gelten ausschließlich.
            Entgegenstehende oder von diesen Geschäftsbedingungen abweichende Bedingungen von Euch werden nicht
            anerkannt.
        </li>
    </ol>

    <h2>§ 2 Vertragsschluss, Zugang</h2>

    <ol>
        <li>Der Vertrag kommt mit Anmeldung des Nutzers auf unserem Portal zustande.</li>
        <li>Ihr könnt das Portal kostenfrei nutzen.</li>
    </ol>

    <h2>§ 3 Leistungen</h2>

    <ol>
        <li>Wir bieten Euch die Möglichkeit, ein Nutzerkonto anzulegen und Events einzustellen sowie diese zu editieren
            und/oder zu löschen.
        </li>
        <li>Nachdem das Portal und die darin enthaltenen Leistungen kostenlos sind, haben wir das Recht, jederzeit die
            kostenlosen Funktionen und/oder den Umfang der kostenlosen Leistungen zu verändern und/oder ganz
            einzustellen. Es besteht kein Anspruch auf Nutzung dieses Dienstes.
        </li>
    </ol>

    <h2>§ 4 Nutzungsrechte, Lizenz</h2>

    <p>Euer Recht beschränkt sich ausschließlich auf das bestimmungsgemäße Nutzen der vom Anbieter zur Verfügung
        gestellten Inhalte im Rahmen des Portals. Ein anderweitiges Verwenden etwaiger Inhalte ist nicht gestattet.</p>

    <h2>§ 5 Laufzeit, Kündigung</h2>

    <ol>
        <li>Nutzer können den Nutzungsvertrag jederzeit ohne Einhaltung einer Frist und ohne Angabe von Gründen durch
            Löschung des Nutzerkontos kündigen.
        </li>
        <li>Der Anbieter ist berechtigt das Nutzerkonto eines Nutzers zu sperren, wenn dieser gegen diese
            Nutzungsbestimmungen oder geltendes Recht verstößt.
        </li>
    </ol>

    <h2>§ 6 Pflichten des Nutzers, Warnhinweise</h2>

    <ol>
        <li>Ihr verpflichtet Euch, die Funktionen und Leistungen des Portals sachgemäß zu nutzen.</li>
        <li>Das Anlegen von mehreren Nutzerkonten oder sog. Fake-Accounts durch einen Nutzer ist nicht gestattet.</li>
        <li>Ihr verpflichtet Euch, den unbefugten Zugriff Dritter auf unsere Plattform durch geeignete Vorkehrungen zu
            verhindern.
        </li>
        <li>Es dürfen keine Inhalte eingestellt werden, die gegen Rechte Dritter, insbesondere von Eigentums-, Urheber-,
            Namens-, Leistungsschutz- oder Markenrechte verstoßen, die gewaltverherrlichender oder pornografischer Art
            sind oder sonst gegen Bestimmungen des Strafgesetzbuchs verstoßen. Ebenso dürfen keine Inhalte eingestellt
            werden, die Viren, trojanische Pferde oder andere Programme enthalten, die geeignet sind, Daten oder Systeme
            zu schädigen, heimlich abzufangen oder zu löschen.
        </li>
        <li>Ihr stellt uns, unsere Angestellten, Beauftragten und unsere Erfüllungsgehilfen von allen Ansprüchen oder
            Forderungen Dritter - einschließlich angemessener Kosten zur Rechtsverteidigung - frei, wenn Dritte
            Ansprüche gegen uns geltend machen, die aus oder in Zusammenhang mit Eurer Nutzung unserer Plattform
            entstehen.
        </li>
        <li>Ihr räumt uns für den Fall, dass Ihr urheberrechtlich relevante Werke hochladet, ein einfaches, räumlich,
            zeitlich und inhaltlich beschränktes Nutzungsrecht zur bestimmungsgemäßen Verwendung innerhalb der Plattform
            und/oder der Internetseite von uns ein. Insbesondere wird das Recht eingeräumt, das jeweilige Werk zu
            veröffentlichen und/oder veröffentlichen zu lassen und/oder öffentlich zugänglich zu machen und/oder
            öffentlich zugänglich machen zu lassen. Ihr versichert, dass Ihr die Rechte an dem jeweiligen Werk habt und
            – falls Personen abgebildet sind – diese mit der Veröffentlichung einverstanden sind oder die
            Veröffentlichung anderweitig gerechtfertigt ist.
        </li>
    </ol>

    <h2>§ 7 Gewährleistung und Haftung</h2>

    <ol>
        <li>Nachdem das Portal kostenlos ist, haften wir nicht für Ansprüche, die daraus entstehen, dass es
            vorübergehend, insbesondere auf Grund von Wartungsarbeiten, für Euch nicht zur Verfügung steht.
        </li>
        <li>Eine etwaige Gewährleistung erstreckt sich nicht auf solche Schäden und/oder Störungen, die dadurch
            verursacht werden, dass der Nutzer schuldhaft gegen Bestimmungen dieses Vertrages verstößt.
        </li>
        <li>Wir haften grundsätzlich nicht für leicht fahrlässig verursachte Schäden.</li>
        <li>Unsere Haftung für Sachmängel ist auf den Fall beschränkt, dass wir Euch gegenüber einen Sachmangel
            arglistig verschweigen. In diesem Fall haben wir gem. § 524 Abs. 1 BGB Euch den daraus entstandenen Schaden
            zu ersetzen. Ansprüche von Euch auf Mängelbeseitigung durch uns bestehen nicht. Unsere Haftung für Mängel im
            Recht an dem Portal ist auf den Fall beschränkt, dass wir Euch gegenüber einen Mangel im Recht im
            Zusammenhang mit dem Portal arglistig verschweigen.
        </li>
        <li>Die Haftungseinschränkungen nach den vorangegangenen Nummern gelten nicht für Schäden aus der Verletzung des
            Lebens, des Körpers oder der Gesundheit, beim arglistigen Verschweigen von Mängeln, Ansprüchen aus dem
            Produkthaftungsgesetz, im Falle des Vorsatzes und der groben Fahrlässigkeit sowie bei Verletzung von
            Pflichten, deren Erfüllung die ordnungsgemäße Durchführung des Vertrages überhaupt erst ermöglichen und auf
            deren Einhaltung Ihr regelmäßig vertrauen dürft.
        </li>
        <li>Vorstehende Haftungsbeschränkungen gelten auch für unsere Erfüllungsgehilfen.</li>
        <li>Im Übrigen gelten die gesetzlichen Regelungen.</li>
    </ol>

    <h2>§ 8 Höhere Gewalt</h2>

    <p>Wir sind von einer etwaige bestehenden Leistungspflicht in Fällen höherer Gewalt befreit. Als höhere Gewalt
        gelten alle unvorhergesehenen Ereignisse sowie solche Ereignisse, deren Auswirkungen auf die Vertragserfüllung
        von keiner Partei zu vertreten sind. Zu diesen Ereignissen zählen insbesondere rechtmäßige
        Arbeitskampfmaßnahmen, auch in Drittbetrieben sowie behördliche Maßnahmen.</p>

    <h2>§ 9 Schlussbestimmungen</h2>

    <ol>
        <li>Der Vertragsschluss findet ausschließlich in deutscher Sprache statt.</li>
        <li>Sollten eine oder mehrere Klauseln dieser Nutzungsbedingungen ganz oder teilweise unwirksam sein, so soll
            hierdurch die Gültigkeit der übrigen Bestimmungen nicht berührt sein.
        </li>
    </ol>
{% endblock %}
