{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1>Hej!</h1>

        <p class="lead">
            Willkommen bei WueWW Digital Events. Als Veranstalter und Veranstalterin kannst du hier ab sofort Termine
            eintragen, die außerhalb der Web Week in der Region Mainfranken stattfinden – gerne auch online.
        </p>

        <p>
            Wir möchten beides – Web Week und Termine außerhalb der Web Week – getrennt halten, daher gibt es zwei
            Instanzen. Das heißt, wenn du schon ein Benutzer-Konto für die Web Week hast, leg bitte einen weiteren
            Account an für alle deine Termine, die außerhalb der Web Web Week stattfinden. Vielen Dank für dein
            Verständnis.
        </p>

        <p>
            Wie geht es danach weiter?
        </p>

        <p>
            Die von dir erfassten Daten werden schnellstmöglich von uns freigeschalten und auf der Webseite im Programm
            hinzugefügt. Selbstverständlich kannst du die Angaben jederzeit ändern. Wenn du noch Fragen hast, meld dich
            bitte bei <a href="mailto:kontakt@wueww.de">kontakt@wueww.de</a>.
        </p>
    </div>

    <div class="row">
        <div class="col-sm">
            <h2>Neu hier?</h2>

            <p>
                Dann ist der nächste Schritt, dass du dir ein Benutzerkonto anlegst und die E-Mail-Adresse anschließend
                bestätigst.
            </p>

            <a class="btn btn-primary" href="{{ path('user_registration') }}">Benutzerkonto anlegen</a>
        </div>

        <div class="col-sm">
            <h2>Du warst schon mal hier?</h2>

            <a class="btn btn-primary" href="{{ path('session_index') }}">Eventliste aufrufen</a>
        </div>

    </div>

    <p></p>
{% endblock %}
