{% extends 'narrow.html.twig' %}

{% block body %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">Benutzerkonto anlegen</button>
    {{ form_end(form) }}

{% endblock %}
