{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1>Hej!</h1>

        <p class="lead">
            Willkommen bei Utes Helferlein. Als Veranstalter/Veranstalterin kannst du hier Termine für die Wuerzburg Web
            Week einstellen.
        </p>

        <p>
            Nachdem du ein Benutzerkonto erstellt hast, vervollständige bitte die Veranstalterangaben. Danach kannst du
            gleich den ersten Termin anlegen. Keine Sorge, das dauert nicht lange.
        </p>

        <p>
            Wie geht es danach weiter?
        </p>

        <p>
            Die von dir erfassten Daten werden schnellstmöglich von uns freigeschaltet und auf der Webseite im Programm
            hinzugefügt. Selbstverständlich kannst du die Angaben jederzeit ändern. Wenn du noch Fragen hast, meld dich
            bitte bei <a href="mailto:kontakt@wueww.de">kontakt@wueww.de</a>.
        </p>
    </div>

    <div class="row">
        <div class="col-sm">
            <h2>Neu hier?</h2>

            <p>
                Dann ist der nächste Schritt, dass du dir ein Benutzerkonto anlegst und die E-Mail-Adresse anschließend
                bestätigst.
            </p>

            <a class="btn btn-primary" href="{{ path('user_registration') }}">Benutzerkonto anlegen</a>
        </div>

        <div class="col-sm">
            <h2>Du warst schon mal hier?</h2>

            <p>
                Dann möchtest du vermutlich direkt zur <a href="{{ path('session_index') }}">Sessionliste</a>.
            </p>
        </div>

    </div>

    <p></p>
{% endblock %}
