<form class="inline" method="post" action="{{ path('session_delete', {'id': session.id}) }}" onsubmit="return confirm('Bist du sicher, dass du das Event löschen möchtest?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ session.id) }}">
    <button class="btn btn-sm btn-outline-danger" title="löschen"><i class="fa fa-trash"></i></button>
</form>
