{% extends 'base.html.twig' %}

{% block body %}
    {{ include('session/_orgdata_missing_info.html.twig') }}
    {{ include('session/_orgdata_not_accepted.html.twig') }}

    <h1>Event bearbeiten</h1>

    {% if session.start is null %}
        <div class="alert alert-danger" role="alert">
            <p>
                Aktuell ist kein Beginn-Zeitpunkt (mehr) erfasst. Bitte neues Datum und Uhrzeit für das Event festlegen.
            </p>
        </div>
    {% endif %}

    {{ include('session/_form.html.twig') }}

    <a href="{{ path('session_index') }}">zurück zur Eventliste</a>
{% endblock %}
