h1 {
  margin-top: 5rem;

  &:first-child {
    margin-top: 0;
  }
}

table + h2, form + h2 {
  margin-top: 3rem;
}

.navbar + .container {
  margin-top: 6rem;
}

.container.narrow {
  max-width: 30rem;
  margin: 10rem auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, .15);
  padding: 2rem;
}

.btn-sm {
  width: 2.3em;
  height: 2.3em;
}

tr.session-cancelled td {
  text-decoration: line-through;

  &.session-actions {
    text-decoration: none;
  }
}

.maxlength-indicator {
  font-style: italic;
  color: grey;
}

.required-indicator {
  color: red;
  margin-left: 0.3em;
}

.jumbotron {
  margin-top: 2rem;
}

.logo_preview {
  display: block;
  max-height: 20rem;
  max-width: 20rem;

  .form-group > & {
    margin: 0 auto;
  }
}

#map {
  height: 23rem;
  margin-bottom: 2rem;
}

ul.plain {
  padding-left: 0;

  > li {
    list-style-type: none;
  }
}

footer {
  text-align: center;
  margin-top: 3em;
  font-size: 1em;
  color: rgba(0, 0, 0, .4);
  border-top: 1px solid rgba(0, 0, 0, .05);
  padding-top: .3em;
}

.red {
  color: red;
}