<footer>
    Made with <i class="fa fa-heart-o red"></i> by Rolf
    | <a href="{{ path('impressum') }}">Impressum</a>
    | <a href="{{ path('nutzungsbedingungen') }}">Nutzungsbedingungen</a>
</footer>
