{% extends 'base.html.twig' %}

{% block body %}
    <h1>Feedback zum Event: {% if is_granted('ROLE_EDITOR') %}{{ session.proposedDetails.title }}{% else %}{{ session.draftDetails.title }}{% endif %}</h1>

    {{ include('feedback/_form.html.twig') }}
{% endblock %}
