{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vielen Dank für dein Feedback</h1>

    <p>Mit deinem Feedback hilfst du dem Veranstalter und uns die Web Week noch besser zu machen :)</p>
{% endblock %}
